<section>
  <form class="add-milestone" action="index.html" method="post">
    <input type="textarea" name="milestone_input" value="test"/>
    <button type="submit">Add Milestone</button>
  </form>
</section>
