<section>
  <form class="add-milestone" action="index.html" method="post">
    <input type="text" name="milestone_input" value=""></input>
    <button type="submit">Add Milestone</button>
  </form>
</section>
