.container {
    margin: 0 auto;
    overflow: auto;
    padding: 8px -10px 16px 16px;
    width: 976px;
}

.bingoPage {
    .results {
        float: left;
        margin-right: 16px;
        text-align: right;
        width: 594px;
    }

    .about {
        .bingoButton {
            font-weight: bold;
            color: white;
            margin-left: 6px;
            margin-right: 2px;
            text-decoration: none;
            padding: 4px 18px;
            text-align: center;
            border-radius: 15px;
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background-color: black;
            background: black;
        }

        float: right;
        width: 365px;
    }

    .bingo {
        tr {
            &:first-child,
            &:last-child {
                td {
                    font-size: 75%;
                    font-weight: 700;
                    height: 30px;

                    &:hover {
                        background: aqua;
                        color: green;
                    }
                }
            }

            td {
                &:first-child {
                    &:hover {
                        background: aqua;
                        color: blue;
                    }

                    font-size: 75%;
                    font-weight: 700;
                    width: 35px;
                }

                &:hover {
                    background: green;
                    color: blue;
                }

                &.greensquare {
                    &:hover {
                        background: green;
                    }

                    background: green;
                }

                background: aqua;
                height: 90px;
                padding: 0px 5px;
                text-align: center;
                vertical-align: middle;
                width: 95px;
                max-width: 95px;
            }
        }
    }
}
