$milestone-bg: #fff;
$milestone-bg-hover: #000;
$milestone-color: #000;
$milestone-color-hover: #fff;
$milestone-border-color: #000;
$header-bg: #fff;
$header-bg-hover: #000;
$header-color: #000;
$header-color-hover: #fff;
$header-border-color: #000;
$milestone-completed-bg: #007c18;
$milestone-completed-bg-hover: #00a31f;

.container {
    margin: 0 auto;
    overflow: auto;
    padding: 8px 0px 16px 16px;
    width: 976px;
}

.bingoPage {
    .results {
        float: left;
        margin-right: 16px;
        text-align: right;
        width: 594px;
    }

    .about {
        float: right;
        width: 365px;
    }

    .bingo {
        tr {
            &:first-child,
            &:last-child {
                td {
                    background: $header-bg;
                    border: 1px $header-border-color solid;
                    color: $header-color;
                    font-size: 75%;
                    font-weight: 700;
                    height: 30px;

                    &:hover {
                        background: $header-bg-hover;
                        color: $header-color-hover;
                    }
                }
            }

            td {
                &:first-child {
                    &:hover {
                        background: $header-bg-hover;
                        color: $header-color-hover;
                    }

                    background: $header-bg;
                    border: 1px $header-border-color solid;
                    color: $header-color;
                    font-size: 75%;
                    font-weight: 700;
                    width: 35px;
                }

                &:hover {
                    background: $milestone-bg-hover;
                    color: $milestone-color-hover;
                }

                &.greensquare {
                    &:hover {
                        background: $milestone-completed-bg-hover;
                    }

                    background: $milestone-completed-bg;
                }

                background: $milestone-bg;
                color: $milestone-color;
                border: 1px $milestone-border-color solid;
                height: 90px;
                padding: 0px 5px;
                text-align: center;
                vertical-align: middle;
                width: 95px;
                max-width: 95px;
            }
        }
    }
}
