class {
  addMileStone() {
    console.log('clicked');
  }
}

<section class='table'>
  <table>
    <thead>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</section>

<section class="add-milestone">
  <form>
    <input type="textarea" name="milestone_input" value="test"/>
    <button type="button" on-click('addMileStone')>Add Milestone</button>
  </form>
</section>
