<section class='table'>
  <table>
    <thead>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
      <td>E</td>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</section>
