@import "~bulma";
@import "components/header/header.scss";
@import "components/board/board.scss";

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .88em;
    font-weight: 400;
    height: 100%;
    line-height: 15px;
    margin: 0px;
    padding: 0px;
}
